:root {
  --dark-brown: #99582a;
  --light-brown: #e4caae;
  --light-blue: #e6e9ec;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/*---------------------------------------------------------App Style----------------------------------*/

.App {
  height: auto;
  width: auto;
  overflow-x: hidden;
  position: relative;
}

/*---------------------------------------------------------Sections Style--------------------*/

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#home {
  background-color: var(--light-blue);
}

/*-------------------------------------------------------Navbar Style---------------------------*/

.navbar {
  display: flex;
  align-items: center;
  position: fixed; 
  top: 0;
  width: 100%; 
  height: 10vh;
  background-color: var(--light-blue);
  z-index: 1000; 
  }

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar-menu {
  width: 30%;
  height: 70%;
  border-radius: 15px;
  background-color: var(--dark-brown);
}

.navbar-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 100%;
}

.title-container {
  position: absolute;
  left: 0;
  top: 50%; 
  transform: translateY(-50%);
  padding-left: 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.menu-item {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: white;
  transition: all 0.3s;
  font-family: 'Roboto', sans-serif;
}

.menu-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ------------------------------------------------------------ Home Section Styles -------------------------------------------------*/

#home {
  display: flex;
  padding-top: 10%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 7rem;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.home-img img {
  width: 90%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: black;
}

.home-content > p {
  color: var(--dark-brown);
  font-size: 1.3rem;
  padding-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------------About Section Styles-----------------------------------------------*/

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.intro {
  text-align: center;
  height: 20%;
}

.intro > h2 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.intro > p {
  padding: 0 33rem;
  font-size: 1rem;
  font-family: 'Noto Serif', serif;
  padding-top: 0.5rem;
}

.history,
.values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 80%;
}

.history-content,
.values-content {
  width: 40%;
  padding: 4rem;
}

.history-content > h3,
.values-content > h3 {
  font-family: 'Open Sans', sans-serif;
}

.history-content > p,
.values-content > p {
  font-family: 'Noto Serif', serif; 
  font-size: 1rem;
}

.history-content {
  background-color: var(--light-blue);
}

.values-content {
  background-color: var(--light-brown);
}

.about-img {
  width: 25%;
  height: auto;
}

.about-img > img {
  width: 100%;
  height: 100%;
}
