:root {
  --dark-brown: #99582a;
  --light-brown: #e4caae;
  --light-blue: #e6e9ec;
  --dark-blue: #1971c2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: auto;
  width: auto;
  overflow-x: hidden;
  position: relative;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#home {
  background-color: var(--light-blue);
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--light-blue);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar-menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 100%;
}

.title-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Roboto", sans-serif;
}

.menu-item {
  background-color: transparent;
  border: none;
  color: white;
  transition: all 0.3s;
  font-family: "Roboto", sans-serif;
}

.menu-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#home {
  display: flex;
  padding-top: 10%;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.home-img img {
  width: 90%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: black;
}

.home-content > p {
  color: var(--dark-brown);
  font-family: "Roboto", sans-serif;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
}

.intro {
  text-align: center;
  height: 20%;
}

.intro > h2 {
  font-family: "Open Sans", sans-serif;
}

.history,
.values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  width: 80%;
}

.history-content,
.values-content {
  width: 40%;
}

.history-content > h3,
.values-content > h3 {
  font-family: "Open Sans", sans-serif;
}

.history-content {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
}

.values-content {
  background-color: var(--light-brown);
  border: 1px solid var(--dark-brown);
}

.about-img {
  width: 25%;
  height: auto;
}

.about-img > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 7%;
}

#product > h2 {
  font-family: "Open Sans", sans-serif;
}

.product-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.wood-product,
.plastic-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 1rem;
  border-radius: 1rem;
}

.wood-product > h3,
.plastic-product > h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
}

.wood-product {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
}

.plastic-product {
  background-color: var(--light-brown);
  border: 1px solid var(--dark-brown);
}

#contact {
  display: flex;

  background-color: var(--light-blue);
}

.contact-content,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.contact-content > h2 {
  font-family: "Open Sans", sans-serif;
}

.contact-content > p {
  font-family: "Noto Serif", serif;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info > div {
  display: flex;
  align-items: center;
}

.contact-info > div > p {
  font-family: "Noto Serif", serif;
}

.contact-form {
  align-items: center;
}

form {
  width: 80%;
  background-color: var(--light-brown);
  border-radius: 1rem;
  border: 2px solid var(--dark-brown);
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box > label {
  font-family: "Noto Serif", serif;
}

.field,
.mess {
  border: none;
  font-family: "Noto Serif", serif;
  outline: 1px solid var(--dark-brown);
}

form > button {
  background-color: var(--dark-brown);
  border: none;
  color: white;
  width: 100%;
  border-radius: 0.5rem;
  font-family: "Noto Serif", serif;
  transition: all 0.3s;
}

form > button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--dark-brown);
}

.footer-main {
  display: flex;
  justify-content: center;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.footer-info-container {
  display: flex;
  align-items: center;
}

.footer-link:hover {
  cursor: pointer;
}

/*---------------------------------------------------------------LARGE SCREEN STYLES----------------------------------------------------------*/

@media screen and (min-width: 1680px) {
  /*-----------------------Navbar Large----------------------*/
  .navbar-menu {
    width: 30%;
    height: 70%;
    border-radius: 15px;
    background-color: var(--dark-brown);
  }

  .title-container {
    padding-left: 10%;
    font-size: 24px;
  }

  .menu-item {
    font-size: 16px;
  }

  /* ----------------------Home Large------------------------*/

  .home-content {
    padding: 7rem;
  }

  h1 {
    font-size: 4rem;
  }

  .home-content > p {
    font-size: 1.3rem;
    padding-top: 1rem;
  }

  /*----------------------About Large-------------------------*/

  .intro > h2 {
    font-size: 2rem;
  }

  .intro > p {
    padding: 0 33rem;
    font-size: 1rem;
    font-family: "Noto Serif", serif;
    padding-top: 0.5rem;
  }

  .history-content,
  .values-content {
    padding: 4rem;
    border-radius: 2rem;
  }
  .history-content > p,
  .values-content > p {
    font-family: "Noto Serif", serif;
    font-size: 1rem;
  }

  /*----------------Products Large------------------------------*/

  #product > h2 {
    font-size: 2rem;
  }

  /* .wood-product,
  .plastic-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 1rem;
    border-radius: 1rem;
  } */

  .wood-product > img,
  .plastic-product > img {
    width: 40rem;
    border-radius: 1rem;
  }

  /* .wood-product > h3,
  .plastic-product > h3 {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 1rem;
  } */

  /*----------Contact Large---------------------------*/

  #contact {
    padding: 0 15rem;
  }

  .contact-content > h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .contact-content > p {
    padding-right: 3rem;
  }

  .contact-info {
    margin-top: 1rem;
  }

  .contact-info > div {
    padding-bottom: 0.5rem;
  }

  .contact-info > div > p {
    padding-left: 0.5rem;
  }

  form {
    padding: 2rem;
  }

  .field,
  .mess {
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0.2rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
  }

  .mess {
    height: 10rem;
  }

  form > button {
    padding: 1rem 0;
    font-size: 0.8rem;
  }

  /*---------------------Footer Large -----------------------*/

  .footer {
    padding: 1rem 0;
    font-size: 0.8rem;
  }

  .footer-main {
    width: 30%;
    padding-top: 2rem;
  }

  .footer-link {
    margin: 0.2rem 0;
  }

  .footer-info {
    padding-left: 0.3rem;
    padding: 0.2rem 0;
  }

  .copyright {
    margin-top: 4rem;
  }
}

/*--------------------------------------------------------------------MEDIUM SCREEN-------------------------------------------------------------*/
@media screen and (max-width: 1439px) and (min-width: 1200px) {
  /* Navbar styles for medium screens */
  .navbar-menu {
    width: 30%;
    height: 70%;
    border-radius: 15px;
    background-color: var(--dark-brown);
  }

  .menu-item {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------------SMALL SCREEN-------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  /* Navbar styles for small screens */
  .navbar-menu {
    width: 30%;
    height: 70%;
    border-radius: 15px;
    background-color: var(--dark-brown);
  }

  .menu-item {
    font-size: 0.8rem;
  }

  .title-container {
    padding-left: 5%;
    font-size: 1.3rem;
  }

  /* Home style for small screens */

  .home-content {
    padding: 5rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  .home-content > p {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  /*About style for small screens */

  .intro > h2 {
    font-size: 1.5rem;
  }

  .history-content > h3,
  .values-content > h3 {
    font-size: 1rem;
  }

  .intro > p {
    padding: 0 19rem;
    font-size: 0.5rem;
    font-family: "Noto Serif", serif;
    padding-top: 0.5rem;
  }

  .history-content,
  .values-content {
    padding: 1.5rem;
    border-radius: 1rem;
  }
  .history-content > p,
  .values-content > p {
    font-family: "Noto Serif", serif;
    font-size: 0.5rem;
  }

  /*Product style for small screens */

  #product > h2 {
    font-size: 1.5rem;
  }

  .wood-product > img,
  .plastic-product > img {
    width: 20rem;
    border-radius: 1rem;
  }

  /*Contact style for small screens */

  #contact {
    padding: 0 5rem;
  }

  .contact-content > h2 {
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
  }

  .contact-content > p {
    font-size: 0.7rem;
    padding-right: 2rem;
  }

  .contact-info {
    margin-top: 0.7rem;
  }

  .contact-info > div > p {
    padding-left: 0.2rem;
    font-size: 0.7rem;
  }

  form {
    padding: 1rem;
  }

  .input-box > label {
    font-size: 0.7rem;
  }

  .field,
  .mess {
    font-size: 0.7rem;
    padding: 0.2rem 0 0.2rem 0.1rem;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
  }

  .mess {
    height: 5rem;
  }

  form > button {
    font-size: 0.6rem;
    padding: 0.3rem 0;
  }

  /*Footer style for small screens */

  .footer {
    padding: 0.5rem 0;
    font-size: 0.5rem;
  }

  .footer-main {
    width: 30%;
    padding-top: 1rem;
  }

  .copyright {
    margin-top: 1rem;
  }
}
